<div class="modal-header">
<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body" [ngStyle]="{ 'font-size': lang === 'en' ? '16px' : '20px' }">
    <!-- last two cravings -->
    <div class="mt-4" *ngFor="let wordInfo of wordInfos">
        <div class="row">
            <div class="col" [ngClass]="lang === 'en' ? 'text-left' : 'text-right'" style="margin: auto;">
                <h6>{{wordInfo.word}}</h6>
                <p class="text-secondary">{{wordInfo.text}}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-ok" ngbAutofocus (click)="modal.close('Ok')">Ok</button>
</div>