<div class="container" [ngStyle]="{ 'font-size': lang === 'en' ? '16px' : '20px' }">

  <div class="content">

    <div class="dropdown" style="text-align: right;" *ngIf="showLangBtn">
      <button class="btn btn-lang btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <fa-icon [icon]="faGlobe"></fa-icon> {{ lang === 'en' ? 'En' : 'Ar'}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="lang = 'en'">English</a>
        <a class="dropdown-item" href="#" (click)="lang = 'ar'">Arabic</a>
      </div>
    </div>

    <div class="row" style="text-align: center;">
      <div class="col" [ngSwitch]="lang">
        <ng-container *ngSwitchCase="'en'">
          <h3>Wheel of Cravings</h3>
          <p class="text-dark justify">
            During pregnancy many women experience cravings. Women start to crave odd combinations of food or even
            things they never wanted to eat before. However, doctors don’t know exactly why pregnant women crave these
            specific flavours, textures, or food combinations. Some cravings are also linked to a condition called Pica
            which is the craving for non-food items. It is a sign of iron and other vitamin deficiency.
          </p>
          <p style="font-style: italic;">Spin once to see what craving you get.<br>Spin twice to see what combinations
            you get.</p>

        </ng-container>
        <ng-container *ngSwitchCase="'ar'">
          <h3>عجلة الوحام</h3>
          <p class="text-dark justify" style="direction:rtl;">
            خلال فترة الحمل، تعاني العديد من النساء من وحام الحمل. حيث يشتهين أنواعاً غريبة من الطعام أو حتى أشياءً لم يرغبن في تناولها مِن قبل. وبالرغم من شيوع هذه الظاهرة، ما زال الأطباء لا يعلمون لماذا تتوق النساء الحوامل إلى هذه النكهات أو المذاقات أو تركيبات الطعام بالتحديد. بعَض هذه الرغبات تعرف بمتلازمة بيكا التي تعد اضطراباً غذائياً يدفع الأشخاص لأكل مواد غير غذائية. تدل هذه الحالة عادة على نقص في مستوى الحديد أو الفيتامينات في الجسم. 
          </p>
          <p style="font-style: italic;">.أديري مرة واحدة لتعرفي ما تشتهينه 
            <br>.أديري مرتين لتتعرفي على التركيبات التي ستحصلين عليها 
          </p>

        </ng-container>
      </div>
    </div>

    <!-- wheel -->
    <div class="row">
      <div class="col-10 offset-1">
        <div class="wheel-of-cravings-container">
          <div class="mount js-mount"></div>
        </div>
      </div>
    </div>

    <!-- spin button -->
    <div class="d-flex flex-row-reverse">
      <button class="btn btn-spin" (click)="spin()">
        <fa-icon [icon]="faSync"></fa-icon>
        {{ lang === 'en' ? ' Spin' : 'أدر'}}
      </button>
    </div>


  </div>
</div>

<router-outlet></router-outlet>