.container,
.container-fluid {
    margin: 20px auto;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container {
        max-width: 80%;
    }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container {
        max-width: 60%;
    }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

h3 {
    font-weight: 300;
    line-height: 1.2;
    color: #5f5f5f;
}

fa-icon {
    margin-right: 10px;
}

.content {
    background-color: #fffffff0;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    border: 1px solid #eaeaea;
}

.jumbotron {
    background-color: #fffffff0;
    padding: 0.7rem 2rem;
    margin-bottom: 1rem;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.btn-lang {
    background-color: #a38b73;
    border-color: #a38b73;
}

.mount {
    position: relative;
    height: 0;
    //width: 70%;
    padding: 0 0 100%;
}

.btn {
    color: #fff;
    &.btn-spin {
        background-color: #a38b73;
        border-color: #a38b73;
    }
}

.wheel-of-cravings-container {
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

fa-icon {
    margin-right: 10px;
}

h3 {
    font-weight: 300;
    line-height: 1.2;
    color: #5f5f5f;
}

.jumbotron {
    background: none;
    padding: 2rem;
    width: 100%;
}

.light-brown-backdrop {
    background-color: #a38b73;
}
